@import "nullstyle.scss"; //файл обнуляющих стилей
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

%displaytmp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

%head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

$wht: #ffffff;
$red: rgb(255, 0, 0);
$normalfont:'Montserrat', sans-serif;

body {
    font-family: $normalfont;
}

body::before {
    background: url(images/probb.jpg) no-repeat center center;
    background-size: cover;
    content: ' ';
    min-height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    min-width: 100%;
    will-change: transform;
    z-index: -1;
    object-fit: cover;
}
