@import "nullstyle.scss"; //файл обнуляющих стилей
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

%displaytmp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

%head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

$wht: #ffffff;
$red: rgb(255, 0, 0);
$normalfont:'Montserrat', sans-serif;

body {
    font-family: $normalfont;
}

body::before {
    background: url(images/b.jpg) no-repeat center center;
    background-size: cover;
    content: ' ';
    min-height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    min-width: 100%;
    will-change: transform;
    z-index: -1;
    object-fit: cover;
}

.header {
    width: 100%;
    min-height: 100px;
    background-color: $wht;
    display: flex;
    justify-content: space-around;
    font-family: $normalfont;
    align-items: center;
    font-size: small;
}

.header__item img {
    height: 100px;
    width: 120px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $normalfont;
}

.main__text {
    padding: 15px;
}

.main__title {
    font-size: 29px;
    font-weight: bold;
    margin-top: 40px;
    &:hover {
        color: lightgreen;
    }
}

.main__desc {
    margin-bottom: 30px;
}

.main__card {
    margin-top: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main__card__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
    border: green solid;
    background-color: $wht;
}

.main__card__item img {
    width: 200px;
    height: 200px;
}

.header__up {
    padding: 5px;
    border-bottom: grey 1px solid;
    margin-bottom: 10px;
    @extend %head
}

.header__down {
    @extend %head
}

.header__space {
    width: 80%;
}

.header__up__item {
    text-decoration: none;
    color: black;
    &:hover {
        color: green;
        border-bottom: #008080 2px solid ;
    }
}

.header__down__item {
    text-decoration: none;
    color: black;
    &:hover {
        color: green;
        border-bottom: #008080 2px solid ;
    }
}

.card__title {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
    .header {
        flex-direction: column;
    }
    .header__up {
        flex-direction: column;
    }
    .header__down {
        flex-direction: column;
    }
    .header__up__item {
        margin: 5px;
    }
    .header__down__item {
        margin: 5px;
    }
    .btn {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}