@import "nullstyle.scss"; //файл обнуляющих стилей
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

%displaytmp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

%head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

$wht: #ffffff;
$red: rgb(255, 0, 0);
$normalfont:'Montserrat', sans-serif;

body {
    font-family: $normalfont;
}

body::before {
    background: url(images/probationB.jpg) no-repeat center center;
    background-size: cover;
    content: ' ';
    min-height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    min-width: 100%;
    will-change: transform;
    z-index: -1;
    object-fit: cover;
}

.wrapper {
    @extend %displaytmp
}

.header {
    margin-bottom: 30px;
    @extend %displaytmp
}

.header__icon img {
    height: 140px;
    width: 140px;
}

.header__card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    border: 2px dashed green;
    min-width: 500px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__card__title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 21px;
}

.header__card__text {
    margin-bottom: 30px;
}

.instruction__img {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px dashed green;
}

.future {
    background-color: #ffffff;
    padding: 20px;
    border: 2px dashed green;
    border-radius: 15px;
    margin-bottom: 30px;
}

.future__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 21px;
}

.vacantion {
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 15px;
    border: 2px dashed green;
}

.vacantion__alert {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 21px;
}

.vacantion__card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid pink;
    border-radius: 15px;
}

.vacantion__title {
    font-weight: bold;
    margin-bottom: 5px;
}

.interest {
    background-color: #ffffff;
    padding: 20px;
    border: 2px dashed green;
    border-radius: 15px;
    margin-bottom: 30px;
}

.interest__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 21px;
}

.levels {
    background-color: #ffffff;
    padding: 20px;
    border: 2px dashed green;
    border-radius: 15px;
    margin-bottom: 20px;
}

.levels__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 21px;
}

.formSpace {
    min-height: 700px;
    border-bottom: 2px dashed lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 30px;
    border: 2px dashed green;
    border-radius: 15px;
    margin-bottom: 30px;
}

form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
    grid-column-gap: 18px;
    grid-row-gap: 20px;
    justify-items: center;
    justify-content: center;
}

.form__area{
    width: 100%;
}

.form__area input{
    margin-top: 19px;
    width: 400px;
    border: 1px solid lightblue;
    border-radius: 15px;
    padding: 10px;
}

.form__title {
    font-weight: bold;
    font-size: 29px;
    background-color: #ffffff;
    padding: 30px;
}

.form__submit {
    background-color: lightblue;
    &:hover {
        background-color: lightgreen;
    }
}

.form__resum {
    margin-top: 30px;
}

.about {
    background-color: #ffffff;
    padding: 20px;
    border: 2px dashed green;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 400px;
    @extend %displaytmp
}

.about__text {
    margin-bottom: 20px;
    font-size: 18px;
}

@media screen and (max-width: 992px) {
    .header {
        width: 100%;
    }
    .instruction__img img{
        width: 100%;
    }
    .future {
        width: 100%;
    }
    .future img {
        width: 100%;
    }
    .interest {
        width: 100%;
    }
    .interest img {
        width: 100%;
    }
    .levels {
        width: 100%;
    }
    .levels img {
        width: 100%;
    }
    .about {
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}